.image-container {
    border-radius: 2rem 2rem 2rem 2rem;
    border: 8px solid rgba(255, 255, 255, 0.12);
  }

  .img {
    border-radius: 2rem 2rem 2rem 2rem;
    border: 8px solid rgba(255, 255, 255, 0.12);
  }